body {
  font-family: $body-font;
  background: url('images/whitey.png') repeat;
}

input[type=text], input[type=password] {
  border: none;
  border-bottom: dotted 1px;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  font-size: em(20);

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    border-bottom: solid 1px tint(#000, 60%);
  }
}
