$body-font: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$logo-font: "adage-script", sans-serif;

// CONTENT DEFAULTS
// ------------------

$default-whitespace: 20px;
$default-leading: 1.6;
$condensed-whitespace: ($default-whitespace / 2);
