<div id='period-estimate'>
  How many hours do you expect to work this week? {{input type="text" value=hours focus-out='acceptChanges' 
                                                                                  insert-newline='acceptChanges'}}
</div>
