<div id='period-estimate'>
  How many hours do you expect to work this week? {{input type="text" value=hoursEstimate focus-out='acceptChanges' 
                                                                                  insert-newline='acceptChanges'}}
</div>

<div id='period-projects'>
  {{#each projects}}
    <div>{{input type="text" name="project[name]" value=name}}</div>
  {{/each}}
</div>
